.wrap .vi-ui{
  box-sizing: border-box;
  *{
    box-sizing: border-box;
  }
  .vargal-hidden{
    display: none !important;
  }
  .vargal-basic-label{
    font-weight: 400;
  }
  .vagal-loading-icon-preview{
    position: relative;
    z-index: 1;
    background: #f5f2f2;
    transition: .3s ease-in;
  }
  .vargal-thumbnail_pos-menu{
    padding-top: 0;
  }
  .vargal-thumbnail_pos-tab{
    margin-bottom: 0;
  }
  .vargal-thumbnail_pos{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &.vargal-thumbnail_pos-selected, &:hover{
      .vargal-thumbnail_pos-img{
        border-color: #2886ce;
      }
    }
    .radio.checkbox input:checked~label:after{
      left: 1px;
      top: 2px;
      background-color: #2886ce;
    }
    .vargal-thumbnail_pos-img{
      cursor: pointer;
      padding: 3px 3px 0 3px;
      border: 1px solid #d7d7d8;
      border-radius: 3px;
    }

    img{
      max-width: 150px;
    }
  }
}
.vargal-migrate-wrap{
  .vargal-button-scan-container{
    text-align: right;
  }
}