.vargal-hidden {
  display: none !important;
}

.vargal-control-nav-disabled {
  display: none !important;
}

.vargal-thumb-video {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.vargal-thumb-video:before {
  content: "";
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: url(../images/play_button.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.pswp__vargal_video-wrap, .pswp__vargal_video {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.pswp__vargal_video-wrap video, .pswp__vargal_video video {
  max-width: 100%;
  max-height: 100%;
}

.vargal-video video {
  max-width: 100%;
  max-height: 100%;
}

.vargal-product-gallery-loading {
  position: relative;
}

.vargal-product-gallery .woocommerce-product-gallery__image video, .vargal-product-gallery .woocommerce-product-gallery__image img,
.vargal-product-gallery .vargal-control-nav video,
.vargal-product-gallery .vargal-control-nav img {
  max-width: 100%;
}
.vargal-product-gallery ol, .vargal-product-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.vargal-product-gallery ol li, .vargal-product-gallery ul li {
  margin: 0;
  padding: 0;
}
.vargal-product-gallery a:focus, .vargal-product-gallery a:focus-visible {
  outline: unset;
}
.vargal-product-gallery .flex-control-thumbs a.flex-active video, .vargal-product-gallery .flex-control-thumbs a.flex-active img {
  opacity: 1 !important;
}
.vargal-product-gallery .flex-control-thumbs a video, .vargal-product-gallery .flex-control-thumbs a img {
  opacity: 0.5;
}
.vargal-product-gallery.vargal-product-gallery-wrap {
  display: inline-flex;
}
.vargal-product-gallery.vargal-product-gallery-wrap > div {
  flex: unset;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery__wrapper {
  position: relative;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery__wrapper .vargal-image-remove {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right {
  flex-wrap: nowrap;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap {
  max-height: 100%;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap.vargal-control-nav-slider .vargal-control-nav li, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap.vargal-control-nav-slider .vargal-control-nav li {
  overflow: hidden;
  margin: 0 !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav {
  max-height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav li, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav li {
  margin: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap .vargal-control-nav-direction-nav li, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap .vargal-control-nav-direction-nav li {
  right: auto;
  top: auto;
  left: 50%;
  transform: translateX(-50%) rotateZ(90deg);
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-prev, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-prev {
  top: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left .vargal-control-nav-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-next, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-right .vargal-control-nav-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-next {
  bottom: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-left {
  flex-direction: row-reverse;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-bottom {
  flex-direction: column;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-bottom .vargal-control-nav-slider {
  overflow: hidden;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-top {
  flex-direction: column-reverse;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-top .vargal-control-nav-wrap:not(.vargal-control-nav-slider) {
  overflow-y: hidden;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-top .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav {
  flex-wrap: nowrap;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-nav-wrap .vargal-product-gallery__wrapper:hover .vargal-product-gallery-direction-nav li {
  opacity: 1;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-nav-top .vargal-product-gallery-direction-nav li {
  top: 0;
  transform: unset;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-nav-bottom .vargal-product-gallery-direction-nav li {
  top: auto;
  bottom: 0;
  transform: unset;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-mobile .vargal-control-nav-direction-nav li, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-mobile .vargal-product-gallery-direction-nav li {
  opacity: 1;
  color: #212121;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-mobile .vargal-control-nav-direction-nav li a, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-mobile .vargal-product-gallery-direction-nav li a {
  color: #212121;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-lightbox img, .vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-zoom img {
  cursor: pointer !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap .woocommerce-product-gallery__trigger {
  background: #fff;
  border: none;
  box-sizing: content-box;
  border-radius: 100%;
  cursor: pointer;
  font-size: 2em;
  height: 36px;
  padding: 0;
  position: absolute;
  right: 0.5em;
  text-indent: -9999px;
  top: 0.5em;
  width: 36px;
  z-index: 99;
}
.vargal-product-gallery.vargal-product-gallery-wrap .woocommerce-product-gallery__trigger:before {
  border: 2px solid #000;
  border-radius: 100%;
  box-sizing: content-box;
  content: "";
  display: block;
  height: 10px;
  left: 9px;
  top: 9px;
  position: absolute;
  width: 10px;
}
.vargal-product-gallery.vargal-product-gallery-wrap .woocommerce-product-gallery__trigger:after {
  background: #000;
  border-radius: 6px;
  box-sizing: content-box;
  content: "";
  display: block;
  height: 8px;
  left: 22px;
  position: absolute;
  top: 19px;
  transform: rotate(-45deg);
  width: 2px;
}
.vargal-product-gallery.vargal-product-gallery-wrap .woocommerce-product-gallery__trigger span[aria-hidden=true] {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  left: 50%;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 1px;
}
.vargal-product-gallery.vargal-product-gallery-wrap :not(.vargal-product-gallery-wrap-top) .vargal-control-nav-wrap:not(.vargal-control-nav-slider) {
  scrollbar-width: none;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-wrap {
  cursor: pointer;
  position: relative;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-wrap:not(.vargal-control-nav-slider) .vargal-control-nav {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-wrap:hover .vargal-control-nav-direction-nav li {
  opacity: 1;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  color: #ddd;
  transition: 300ms ease-in-out;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li a, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li a {
  color: inherit;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-prev, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li.vargal-product-gallery-prev, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li.vargal-control-nav-nav-prev, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li.vargal-product-gallery-prev {
  left: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li.vargal-control-nav-nav-next, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li.vargal-product-gallery-nav-next, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li.vargal-control-nav-nav-next, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li.vargal-product-gallery-nav-next {
  right: 0;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav-direction-nav li:hover, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-product-gallery-direction-nav li:hover {
  opacity: 1;
  color: #212121;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav a.vargal-product-gallery-active video, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav a.vargal-product-gallery-active img {
  opacity: 1 !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav a video, .vargal-product-gallery.vargal-product-gallery-wrap .vargal-control-nav a img {
  opacity: 0.5;
}
.vargal-product-gallery.vargal-product-gallery-wrap:not(.vargal-product-gallery-one).vargal-product-gallery-wrap-transition-1 .vargal-product-gallery-viewport .woocommerce-product-gallery__image {
  opacity: 0.5;
  transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
  transform: scale(0.5) !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap:not(.vargal-product-gallery-one).vargal-product-gallery-wrap-transition-1 .vargal-product-gallery-viewport .woocommerce-product-gallery__image.vargal-product-gallery-active-slide {
  opacity: 1;
  transform: scale(1) !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-transition-fade:not(.vargal-product-gallery-one) {
  height: auto !important;
}
.vargal-product-gallery.vargal-product-gallery-wrap.vargal-product-gallery-wrap-transition-fade:not(.vargal-product-gallery-one) .woocommerce-product-gallery__image:not(.vargal-product-gallery-active-slide) {
  height: 0;
  visibility: hidden;
}
.vargal-product-gallery:not(.vargal-product-gallery-loading) .vargal-loading {
  display: none;
}

.vargal-control-nav-wrap::-webkit-scrollbar-track {
  background: #e3e0e0a1;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (min-width: 992px) {
  .et-product-detail .has-additional-thumbnails .vargal-product-gallery:before, .et-product-detail .has-additional-thumbnails .vargal-product-gallery:after {
    display: none;
  }
  .et-product-detail .has-additional-thumbnails .vargal-product-gallery:not(.vargal-product-gallery-wrap) .vargal-control-nav li a img, .et-product-detail .has-additional-thumbnails .vargal-product-gallery:not(.vargal-product-gallery-wrap) .vargal-control-nav li a video {
    user-select: none;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-color: transparent;
    opacity: 0.7;
  }
  .et-product-detail .has-additional-thumbnails .vargal-product-gallery:not(.vargal-product-gallery-wrap) .vargal-control-nav li a.flex-active img, .et-product-detail .has-additional-thumbnails .vargal-product-gallery:not(.vargal-product-gallery-wrap) .vargal-control-nav li a.flex-active video {
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
  }
  .et-product-detail.thumbnails-vertical:not(.et-product-layout-no-padding) .has-additional-thumbnails .vargal-product-gallery-wrap.woocommerce-product-gallery {
    width: 100%;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery .woocommerce-product-gallery__image img, .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery .woocommerce-product-gallery__image video {
    width: 100%;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery .vargal-product-gallery__wrapper {
    width: 100% !important;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-left .vargal-control-nav-wrap {
    left: 15px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-left .vargal-product-gallery-nav-prev {
    left: 95px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .product-title-right .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-right .vargal-product-gallery-nav-next {
    right: 95px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-bottom {
    padding-bottom: 10px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery:not(.vargal-product-gallery-wrap-left):not(.vargal-product-gallery-wrap-right) .vargal-product-gallery-viewport {
    height: auto !important;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-left .vargal-control-nav-wrap {
    left: 45px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-left .vargal-product-gallery-nav-prev {
    left: 70px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-right .vargal-control-nav-wrap {
    right: 15px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-right .vargal-product-gallery-nav-next {
    right: 75px;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-left .vargal-control-nav-wrap, .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery.vargal-product-gallery-wrap-right .vargal-control-nav-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    max-height: 80%;
    z-index: 9;
  }
  .et-product-detail.thumbnails-vertical.et-product-layout-no-padding .has-additional-thumbnails .vargal-product-gallery .vargal-product-gallery-nav-prev {
    left: 30px;
  }
}
.vargal-flatsome-product-gallery video, .vargal-flatsome-product-gallery img,
.vargal-flatsome-product-gallery-thumb video,
.vargal-flatsome-product-gallery-thumb img {
  max-width: 100%;
  width: 100%;
}

.vargal-pswp ~ .dialog-lightbox-widget {
  display: none !important;
}

@media (max-width: 991px) {
  .vargal-product-gallery.vargal-product-gallery-wrap {
    max-width: 100%;
  }
}

/*# sourceMappingURL=frontend.css.map */
